@import '../../styles/colors.scss';
@import '../../styles/text.scss';

.app {
  background-color: #132f57;
  min-height: 100vh;
  padding: 24px 0;
}

.title {
  color: $maize;
  font-size: $large;
  font-weight: $light;
  margin: 0;
}

.app header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cardList {
  margin: 0 8vw;
}
