@import '../../styles/colors.scss';
@import '../../styles/text.scss';

.app {
  background-color: #132f57;
  height: 100vh;
}

.title {
  color: $maize;
  font-size: $large;
  font-weight: $light;
  margin-top: 18px;
  margin-bottom: 48px;
}

.app header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cardList {
  margin: 0 8vw;
}
