@import '../../styles/colors.scss';
@import '../../styles/text.scss';

.card {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.accentLine {
  height: 6px;
  background-color: $light-blue;
  border-radius: 5px 5px 0 0;
}

.busStopText {
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
  font-size: $regular;
  font-weight: $semibold;
}

.routeDetails {
  padding: 0 0 40px 36px;
}

.routeName {
  font-size: $small;
  font-weight: $bold;
  text-transform: uppercase;
}

.routeStatus {
  font-size: $small;
  color: $gray;
  font-weight: $medium;
}
